<div>
    <nz-date-picker [nzDisabledDate]="disabledStartDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
        [(ngModel)]="startValue" nzPlaceHolder="Start" (ngModelChange)="onStartChange($event)"
        (nzOnOpenChange)="handleStartOpenChange($event)">
    </nz-date-picker>
    <nz-date-picker [nzDisabledDate]="disabledEndDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="endValue"
        nzPlaceHolder="End" [nzOpen]="endOpen" (ngModelChange)="onEndChange($event)"
        (nzOnOpenChange)="handleEndOpenChange($event)">
    </nz-date-picker>
    <highcharts-chart [Highcharts]="detailHighCharts" [options]="detailchartOptions"
    (chartInstance) = "chartInstanceDetail($event)"
    style="height: 300px; display: block;"></highcharts-chart>
    <highcharts-chart [Highcharts]="dyHighcharts" [options]="dychartOptions"
    (chartInstance) = "chartInstanceDynamic($event)"
    style="height: 100px; display: block;"></highcharts-chart>
</div>